.button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menu {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-left: 1px solid var(--mantine-color-body);
}

:root[data-mantine-color-scheme="light"] {
  --mrt-pinned-row-background-color: var(--mantine-color-blue-0);
}

:root[data-mantine-color-scheme="dark"] {
  --mrt-pinned-row-background-color: #273036;
}

:global(.mantine-ActionIcon-root[aria-label="Pin"]) {
  display: block;
}
