.button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.menu {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-left: 1px solid var(--mantine-color-body);
}
