.header {
  height: 5rem;
  position: relative;
  z-index: 2;
  border-radius: 0;
  border-inline: none;
}

.inner {
  gap: 5px;
  flex-wrap: nowrap;
  align-items: center;
  padding-block: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  overflow: hidden;
}

.titleFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: nowrap;
  min-width: 0;

  font-size: 0.85rem;
  flex: 1;
}

.logoContainer {
  width: 3rem;
  height: 3rem;
  margin-left: 0.7rem;
  flex-shrink: 0;
}

.playerContainer {
  position: relative;
  z-index: 2;
  border-radius: 0;
  border-inline: none;
  border-top: none;
  padding: 0.3rem 2rem;
}
