.mainList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  list-style: none;
}

.innerList {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;

  list-style: disc;
}

.term {
  color: var(--mantine-color-default);
  background-color: var(--mantine-color-blue-3);
  margin-bottom: 0.5rem;
  padding-inline: 0.4rem;
}

.container {
  padding: 1.9rem 2.3rem;
}
